.ui.borderless.topmenu.container.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  padding-top: 20px;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center;

}
.main.column {
  margin-top: 150px;

}
.main.column.p {
  padding: 50px;
}

.footer.background {

}